[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pillow = "*"
scikit-learn = "*"
ipython = "*"
opencv-python = "*"
matplotlib = "*"
yellowbrick = "*"

[dev-packages]
ipykernel = "*"
pandas = "*"

[requires]
python_version = "3.11"
